LoggingWFAgent/LoggingWFAgent/Connected Services/LoggingServiceReference/LoggingService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LoggingWFAgentService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LoggingWFAgentService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BatchInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="BatchClassName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BatchName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CurrentModuleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberOfLoosePages" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BatchInfo" nillable="true" type="tns:BatchInfo" />
  <xs:complexType name="ArrayOfDocumentInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DocumentInfo" nillable="true" type="tns:DocumentInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocumentInfo" nillable="true" type="tns:ArrayOfDocumentInfo" />
  <xs:complexType name="DocumentInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="FieldInfoList" nillable="true" type="tns:ArrayOfFieldInfo" />
      <xs:element minOccurs="0" name="FormTypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentInfo" nillable="true" type="tns:DocumentInfo" />
  <xs:complexType name="ArrayOfFieldInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FieldInfo" nillable="true" type="tns:FieldInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFieldInfo" nillable="true" type="tns:ArrayOfFieldInfo" />
  <xs:complexType name="FieldInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="IndexFieldName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IndexFieldValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FieldInfo" nillable="true" type="tns:FieldInfo" />
</xs:schema>