LoggingWFAgent/LoggingWFAgent/Connected Services/LoggingServiceReference/LoggingService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59931/LoggingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LoggingWFAgentService" />
  <xs:element name="LogBatchInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LoggingWFAgentService" minOccurs="0" name="oBatchInfo" nillable="true" type="q1:BatchInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogBatchInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogBatchInfoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogDocumentInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LoggingWFAgentService" minOccurs="0" name="oDocumentInfoList" nillable="true" type="q2:ArrayOfDocumentInfo" />
        <xs:element minOccurs="0" name="nBatchId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogDocumentInfoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>